MovieLib.Client/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8012/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MovieLib.Contracts" />
  <xs:element name="GetDirectorNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectorNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MovieLib.Contracts" minOccurs="0" name="GetDirectorNamesResult" nillable="true" type="q1:ArrayOfMovieData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>